<div class="channel-row" [ngClass]="{'sub-channel': isSubChannel}">
  <div class="row-header">
    <p>{{channel.channel_name}}</p>
    <div>
      <!-- <ng-container *ngFor="let icon of channelInfo.getIcon">
      </ng-container> -->
    </div>
  </div>
  <ng-container *ngFor="let client of channel.clients">
    <client-row [clientInfo]="client"></client-row>
  </ng-container>
  <ng-container *ngFor="let c of channel.subChannels">
    <channel-row [channel]="c"></channel-row>
  </ng-container>
</div>
