.contact-list {
  display: flex;
  flex-direction: column;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;

  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

    .avatar {
      width: 40px;
      height: 40px;
      background: lightblue;
      flex-shrink: 0;
      border-radius: 50%;
      position: relative;

      .away-status-container {
        border-radius: 50%;
        width: 18px;
        height: 18px;
        right: 0px;
        bottom: 0px;
        background: white;
        position: absolute;

        .away-status {
          border-radius: 50%;
          width: 14px;
          height: 14px;
          right: 2px;
          bottom: 2px;
          position: absolute;

          &.ACTIVE {
            background: green;
          }

          &.INACTIVE {
            background: yellow;
          }

          &.AWAY {
            background: red;
          }

          &.OFFLINE {
            background: gray;
          }
        }
      }
    }

    .contact-name {
      margin-left: 10px;
    }
  }
}
