.contact-list {
  display: flex;
  flex-direction: column;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;

  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

    .avatar {
      width: 40px;
      height: 40px;
      background: lightblue;
      flex-shrink: 0;
      border-radius: 50%;
    }

    .contact-name {
      margin-left: 10px;
    }
  }
}
