<!-- <h1>Server Browser UI</h1> -->
<div class="ts-page-container">
  <mat-toolbar class="toolbar">
    <div class="toolbar-header">
      <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
      <span>TS Server Browser</span>
    </div>
    <div class="toolbar-buttons">
      <button mat-raised-button>Settings</button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container #sidenavContainer [autosize]="false" class="page-content">
    <mat-sidenav #sidenav mode="side" opened class="sidebar" [@sidebarMinimize]="sidebarOpen ? 'open' : 'closed'">
      <sidenav-content [sidebarOpen]="sidebarOpen"></sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content [@sidebarMinimizeContent]="sidebarOpen ? 'open' : 'closed'">
      <server-browser></server-browser>
      <button (click)="initializeAudio()">Connect Audio</button>
      <button (click)="debugPause()">Click here to debug</button>
      <button (click)="closeConnection()">close connection</button>
      <audio #audioElement autoplay="true" muted="false"></audio>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
