.ts-page-container {
display: flex;
flex-direction: column;
height: 100%;

  .toolbar {
    position: fixed;
    height: 45px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .toolbar-header {
      display: flex;
      align-items: center;
    }
  }

  .page-content {
    margin-top: 45px;
    height: 100%;
  }

  mat-expansion-panel {
    width: 15vw;
  }

  .contact-icons {
    display: flex;
    flex-direction: row;
    width: 5vw;
    justify-content: center;
  }
}
