.user-row {
  .row-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      &.channel-group {
        height: 28px;
      }

      &.server-group {
        height: 32px;
      }

      & + img {
        margin-left: 5px;
      }
    }
  }
}
